<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container-fluid">
    
    <div class="row">
        <header>
            <%- include('./partials/header'); %>
        </header>
    </div>

    <%- include('./partials/main')-%>
    
    <div class="about" id="about">
        <div class="heading">
            <h2>¿Quiénes somos?</h2>
        </div>
        <div class="row">
            <% people.forEach( person => { %>
                <%- include('./partials/cards', {person:person}); %>
            <% }) %>
        </div>
    </div>
    
    <div class="ayuda" id="ayuda">
        <div class="heading">
            <h2>¿Qué puedo hacer con AlumnIA?</h2>
        </div>
        <div class="row">
            <% videos.forEach( video => { %>
                <%- include('./partials/videos', {video:video}); %>
            <% }) %> 
        </div>
    </div>

    
    <div class="contactUs" id="contact">
        <%- include('./partials/contact'); %>
    </div>

    <div class="row">
        <div class="footer">
            <%- include('./partials/footer'); %>
        </div>
    </div>
</body>
</html>